<header>
  <img class="responsive-img" src="http://i650.photobucket.com/albums/uu224/tjmahaffey/day3_1_zps8vjsqf3v.jpg" />
</header>
<div class="container">
  <table class="calendar">
    <thead>
    <th colspan="7"><h3><center>September 2015</center></h3></th>
    </thead>
    <tr>
    <td class="day-name">Sun</td>
    <td class="day-name">Mon</td>
    <td class="day-name">Tue</td>
    <td class="day-name">Wed</td>
    <td class="day-name">Thu</td>
    <td class="day-name">Fri</td>
    <td class="day-name">Sat</td>
    </tr>
    <tr>
    <td ></td>
    <td ></td>
      <%while @date<=@days.length%>
        <%@days.each do |day|%>
          <%if @date%7==6%>
            </tr>
            <tr>
              <td class="day"><a href="/<%=day.day_number%>"><%=day.day_number%></a></td>

          <%else%>
              <td class="day"><a href="/<%=day.day_number%>"><%=day.day_number%></a></td>
          <%end%>
          <%@date+=1%>
        <%end%>
      <%end%>
      <%while @date<31%>
        <%if @date%7==6%>
          </tr>
          <tr>
            <td class="day"><%=@date%></td>
            <%@date+=1%>
        <%else%>
            <td class="day"><%=@date%></td>
            <%@date+=1%>
        <%end%>
      <%end%>
      <td/>
      <td/>
      <td/>
    </tr>



    </table>
</div>
